# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Build artifacts
build/
dist/
*.egg-info/

# Virtual environment
.venv/
venv/
env/

# IDE configuration
.vscode/
!/.vscode/settings.json
.idea/

# Environment variables
.env
*.env